<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @if (IsSectionDefined("TestSection"))
    {
        @RenderSection("TestSection", required: true);
    }

    
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
