@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <h1>@ViewBag.ErrorMessage</h1>

        <a asp-action="index" asp-controller="home">Navigate to HOME page</a>
    </div>
</div>
