.read_more {
  text-align: center;
  h2 {
    font-size: 36px;
    margin-top: 69px;
  }
  p,
  li {
    font-size: 14px;
    font-family: Light;
    color: $color_btn_text_gray;
    margin: 0 0 11px;
    text-align: justify;
  }

  a {
    text-decoration: none;
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::before {
      content: "\f105";
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
      color: $color_btn_hover;
      font-size: 20px;
      margin-top: -50px;
    }
  }
  .text_block {
    margin-top: 27px;
    margin-bottom: 35px;
  }

  @media screen and (max-width: 991px) {
    h2 {
      margin-top: 0;
    }
    .text_block {
      padding: 0 15px 0 45px;
    }
    .second_block {
      margin-top: 45px;
      .text_block {
        padding: 0;
      }
    }
  }
}
