.banner_bg {
  background: $color_main_2;
  //height: 465px;
  background-image: url(../../../img/img_header.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 60px;
  padding-bottom: 1px;
}

.spesial_offer_bg {
  background: $color_main_1;
  height: 50px;
}

.btn_live_chat {
  margin-right: 55px;
}

a {
  //text-decoration: none;
  color: #002157;
}
h3 {
  font-family: Bold;
  text-transform: uppercase;
  color: $color_text_white;
  font-size: 52px;
}

.key {
  justify-content: center;
}
h4 {
  font-family: SemiBold;
  text-transform: uppercase;
  color: $color_text_white;
  font-size: 36px;
  margin: 20px;
}

h5 {
  font-family: Light;
  font-size: 27px;
  text-transform: uppercase;
  color: $color_text;
  margin-bottom: 25px;
}

h6 {
  font-family: Light;
  font-size: 20px;
  color: $color_text;
  margin-bottom: 30px;
}

.texts {
  margin-bottom: 40px;
  padding-left: 350px;
}

.btn_order_now {
  margin-bottom: 15px;
}

p {
  margin-top: 10px;
  font-size: 18px;
  color: $color_text_white;
  font-family: Regular;
}

.btn_list_discount {
  margin: 10px 119px;
}

.paddind_none {
  padding-left: 0px;
  padding-right: 0px;
}

.abapriv_bg {
  background-color: $color_main_2;

  .abapriv_banner {
    height: 330px;
    background: url(../../../img/book_1.png), url(../../../img/book_2.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
    background-size: contain;
  }

  .adaptiv_banner_content {
    text-align: center;
  }

  h3 {
    padding-top: 35px;
    font-size: 38px;
  }
  h4 {
    padding-top: 20px;
    font-size: 24px;
  }
  .btn_order_now {
    margin-top: 40px;
  }

  @media screen and (max-width: 991px) {
    h3 {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 696px) {
    h3 {
      font-size: 38px;
    }
  }
  @media screen and (max-width: 558px) {
    h3 {
      font-size: 30px;
    }
  }
}
