body {
  margin: 0;
  padding: 0;
  min-width: 420px;
}

h1 {
  font-family: Bold;
  font-size: 32px;
  color: $color_main_1;
}

h2 {
  font-family: Bold;
  font-size: 28px;
  color: $color_main_1;
}

h3 {
  font-family: Medium;
  font-size: 22px;
  color: $color_black;
}

h4 {
  font-family: Medium;
  font-size: 18px;
  color: $color_main_1;
}

p.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: $color_black;
}

.btn-read_more {
  display: inline-block;
  padding: 10px 10px;
  background-color: $color_main_2;
  font-family: Regular;
  font-size: 16px;
  color: $color_text_btn_white;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-read_more:hover {
  background-color: $color_bg_btn_hover;
  color: $color_main_1;
}

.btn-send_more {
  display: inline-block;
  padding: 10px 10px;
  background-color: $color_main_2;
  font-family: Bold;
  font-size: 20px;
  color: $color_text_btn_white;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-send_more:hover {
  background-color: $color_bg_btn_hover;
  color: $color_main_1;
}

.btn-order_now {
  display: inline-block;
  font-family: Regular;
  font-size: 26px;
  color: $color_text_btn_white;
  background-color: $color_btn_order;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.btn-order_now:hover {
  background-color: $color_btn_order_hover;
}
